.badge.badge-danger-weaker {
    background-color: #FFDAD8;
    color: #1B1C1D;
}

.wrapper {
    width: 1520px;
    margin: 0 auto;
}

.cart-item-width {
    width: 70%;
}

.order-summary-secion-width {
    width: 30%;
}

/* search container start */
.cart-search {

    padding: 16px 24px;

    .form-control {
        border: 1px solid var(--cs-border-color);
        font-size: .875rem;
        padding: 8px 15px;

        // &::placeholder {
        //     color: var(cs-content-disable-btn);
        // }
    }
}



.alert-utility {
    .cs-icon-chevron {
        font-size: 0.6rem;
        display: inline-block;
        transition: transform 0.3s ease;
    }

    .btn[aria-expanded="true"] .cs-icon-chevron {
        transform: rotate(-180deg);
    }
}











h2.cart-heading {
    font-size: 30px;
}

h5.giveaway-subheading {
    font-size: 18px;
}

.cart-key {font-size: 14px;
    line-height: 16px;
    color: #606162;}
  .border-dashed{
  border-style: dashed;
  }
  .border-1-5{
      border-top: 1.5px solid #1B1C1D;
  }
  .text-secondary-default{
  color: #606162;
  }
  
  .cart-search-dropdown{
  th{
      font-size: 14px;
      font-weight: 700;
      color: #1B1C1D;
  }
  td strong{
      font-size: 14px;
      font-weight: 500;
      color: #1B1C1D;
  }
  td small{
      font-size: 14px;
      font-weight: 400;
      color: #333;
  }
  td{
      font-size: 14px;
      font-weight: 400;
      color: #333;
  }
}