@import "var.scss";
@import "cisco-sans.css";
@import "drawer.scss";
@import "cs-icons.css";
@import "form.scss";
@import "mixin.scss";
@import "misc.scss";
@import "modal.scss";
@import "tooltip.scss";
@import "cart.scss";

*,
:after,
:before {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #adadad;
}

::-webkit-scrollbar-track {
  background: #fff;
}

body {
  font-size: var(--cs-body-font-size);
  margin: 0;
  padding: 0;
  font-weight: var(--cs-body-font-weight);
  font-family: var(--cs-body-font-family) !important;
  color: var(--cs-body-color);

  &.body-bg-gray {
    background-color: #f4f5f6;
  }
}
.fs-14 {
  font-size: 14px;
}
.fs-18 {
  font-size: 18px;
}
.fs-12 {
  font-size: 12px;
}
.fs-30 {
  font-size: 30px;
}

.btn {
  border: 0;
  padding: 0;
  color: #0070d2;
  .btn-primary-lg {
    padding: 8px 40px;
    border-radius: 20px;
    background: #0070d2;
    color: #fff;
    font-size: 16px;
  }
  .btn-outline-lg {
    height: 40px;
    padding: 8px 40px;
    border-radius: 20px;
    border: 1px solid #0070d2;
    background: #fff;
    color: #0070d2;
    font-size: 16px;
  }

  .btn-primary-md {
    height: 40px;
    padding: 6px 24px;
    border-radius: 16px;
    background: #0070d2;
    color: #fff;
    font-size: 14px;
  }
  .btn-outline-md {
    height: 40px;
    padding: 6px 24px;
    border-radius: 16px;
    border: 1px solid #0070d2;
    background: #fff;
    color: #0070d2;
    font-size: 14px;
  }
  .btn-primary-sm {
    height: 40px;
    padding: 4px 16px;
    border-radius: 16px;
    background: #0070d2;
    color: #fff;
    font-size: 12px;
  }
  .btn-outline-sm {
    height: 40px;
    padding: 4px 16px;
    border-radius: 16px;
    border: 1px solid #0070d2;
    background: #fff;
    color: #0070d2;
    font-size: 12px;
  }
}

.action-btn {
  li {
    padding-left: 12px;
    padding-right: 12px;
    position: relative;
    border-right: 1px solid var(--cs-bg-disable-btn);
    &:last-child {
      border-right: 0;
      padding-right: 0px;
    }
  }
}

a {
  text-decoration: none;
}

// Action button
.action-button {
  display: flex;
  align-items: center;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

// Sub header begin
.header__sub-header {
  background: #fff;
  border-radius: 8px;
  padding: 1.5rem;
}

// Breadcrumbs
.bread-crumbs {
  margin-bottom: 0.937rem;

  .cs-icon-home-filled {
    font-size: 16px;
  }

  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      font-size: 12px;
      font-weight: 500;
      line-height: 16px;
      position: relative;
      color: #8e8e8e;
      padding-right: 16px;
      margin-right: 8px;

      &::after {
        content: "";
        background: url(../images/icons/chevron-right.svg) no-repeat;
        background-size: contain;
        position: absolute;
        right: 0;
        top: 2px;
        width: 12px;
        height: 12px;
      }

      &:last-child {
        &::after {
          display: none;
        }
      }
    }
  }
}

.info-group {
  ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  li {
    display: flex;
    align-items: center;
    padding: 0 8px;
    border-left: 1px solid #d6d6d6;
    font-size: 0.875rem;
    gap: 5px;

    &:first-child {
      border-left: 0;
      padding-left: 0;
    }
  }
}

.cursor-pointer {
  cursor: pointer;
}

.text-link {
  color: var(--cs-link-color);
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

// Header style
.header-surface {
  background: #0070d2;
  padding: 12px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .cs-icon-logo {
    font-size: 30px;
    margin-right: 22px;
  }

  .cs-icon-cart {
    font-size: 32.7px;
    margin-right: 16px;
  }

  h6 {
    font-size: 14px;
    font-weight: 500;
    line-height: 16.8px;
    color: #d7eafc;
    margin-bottom: 5px;
  }

  h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    color: #fff;
  }

  .header-account-col {
    display: flex;
    padding: 10.5px 0;

    .avtar {
      background: #00509e;
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      padding: 8px 10px;
      border-radius: 100%;
      color: #fff;
      margin-right: 12px;
    }

    .user-details {
      position: relative;
      padding-right: 28px;

      h4 {
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        color: #f4f5f6;
      }

      h5 {
        font-size: 12px;
        font-weight: 500;
        line-height: 16px;
        color: #f4f5f6;
      }

      .cs-icon-chevron-up {
        position: absolute;
        right: 0px;
        top: 11px;
        transform: rotate(180deg);
        font-size: 16px;

        &:before {
          color: #fff;
        }
      }
    }
  }
}

// End Header style

.cs-sub-header {
  background: url(/assets/images/header-bg.jpg) no-repeat top left;
  padding: 21px 40px;

  .remaining-days ul li.days-count span {
    background: #d6d6d6;
  }

  .remaining-days ul.days-active li.days-count:before {
    background: linear-gradient(90deg, #0070d2 0%, #d6d6d6 90.68%);
  }

  .remaining-days ul.days-active li.default span {
    background: #d6d6d6;
  }
}

.page-header {
  padding: 12px 0;
  border-bottom: 1px solid #d6d6d6;
  margin-bottom: 16px;
}

/* Dropdown */
.dropdown {
  display: inline-block;
  position: relative;
}

.dd-button {
  display: inline-block;
  color: #0070d2;
  padding: 0px 14px 0px 0px;
  cursor: pointer;
  white-space: nowrap;

  &:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #0070d2;
  }
}

.dd-input {
  display: none;

  & + .dd-menu {
    display: none;
  }

  &:checked {
    & + .dd-menu {
      display: block;
    }
  }
}

.dd-menu {
  position: absolute;
  top: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
  margin: 2px 0 0 0;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  list-style-type: none;

  li {
    padding: 10px 20px;
    cursor: pointer;
    white-space: nowrap;
    height: auto;
    line-height: 1;

    &:hover {
      background-color: #f6f6f6;
    }

    a {
      display: block;
      margin: -10px -20px;
      padding: 10px 20px;
    }

    &.divider {
      padding: 0;
      border-bottom: 1px solid #cccccc;
    }
  }
}

/* Tabs */

.customer-trial-tabs {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  position: relative;

  &.customer-trial-tabs-border {
    border-bottom: 1px solid var(--cs-border-color);
  }
}

.trial-navtabs {
  display: flex;
  gap: 1.75rem;
  padding: 10px 20px 9px 0;
  position: relative;
}

.trial-navtab {
  cursor: pointer;
  color: #1b1c1d;
  transition: color 0.3s;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.trial-navtab.active {
  font-weight: 700;
}

.trial-underline {
  position: absolute;
  bottom: 0;
  height: 4px;
  border-radius: 4px;
  background: #0070d2;
  transition: left 0.3s ease, width 0.3s ease;
}

.trial-content {
  display: none;
}

.trial-content.active {
  display: block;
}

/* Tabs styling */

.panel-section {
  width: 85%;
}

.panel-details {
  width: 54%;
}

.panel-details-inner {
  width: 100%;
}

.panel-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 16px;
  gap: 12px;

  h2 {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #1b1c1d;
  }
}

.panel-body {
  padding: 18px 24px;
  background-color: #fff;
  margin-bottom: 10px;

  &:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  }
}

.key {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

.value {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #606162;
  margin-top: 2px;
}

.start-expiry-date {
  display: flex;
  flex-direction: row;
}

.action-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 145px;
  height: 62px;

  &.sep-vr {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 1px;
      background-color: var(--cs-border-color);
      height: 100%;
      left: -17px;
      top: 0;
    }
  }
}

.remaining-days {
  padding: 0px 8px;

  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;

    &.days-active {
      li.days-count {
        &.sub-header-width {
          width: 350px;
        }

        position: relative;

        &:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 5px;
          top: 36%;
          background: linear-gradient(90deg, #0070d2 0%, #ebebeb 82.05%);
          left: -1px;
          z-index: 0;
        }
      }

      li {
        // span.days-left span {
        //   color: #1b1c1d;
        // }
        &.default span {
          border-radius: 50%;
          width: 20px;
          height: 20px;
          background-color: #ebebeb;
        }
      }
    }

    &.days-expired {
      li.days-count {
        position: relative;

        &:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 5px;
          top: 36%;
          background: #e3241b;
          left: -1px;
          z-index: 0;
        }
      }

      li {
        span.days-left span {
          color: #e3241b;
        }

        &.default span {
          border-radius: 50%;
          width: 30px;
          height: 30px;
          background-color: #e3241b;
        }
      }
    }

    &.days-extension {
      li.days-count {
        position: relative;

        &:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 5px;
          top: 36%;
          background: #ffe6bd;
          left: -1px;
          z-index: 0;
        }
      }

      li {
        span.days-left span {
          color: #c6800f;
        }

        &.default span {
          border-radius: 50%;
          width: 20px;
          height: 20px;
          background-color: #ffe6bd;
        }
      }
    }

    li {
      span {
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 1;
      }

      &.active span {
        border-radius: 50%;
        width: 30px;
        height: 30px;
        background-color: #0070d2;
      }

      &.days-count span {
        display: inline-flex;
        gap: 5px;
      }

      span.days-left {
        border-radius: 12px;
        padding: 5px 12px 4px;
        gap: 8px;
        position: relative;

        span {
          background: transparent;
        }
      }
    }

    .days-count {
      width: 200px;
      text-align: center;
    }
  }
}

.days-count-default {
  .cs-icon-clock::before {
    color: #1b1c1d;
  }

  background-color: #ebebeb;
}

.days-count-warning {
  .cs-icon-clock::before {
    color: #c6800f;
  }

  background-color: #fef7ec;
}

.days-count-danger {
  .cs-icon-clock::before {
    color: #e3241b;
  }

  background-color: #fff2f1;
}

.tiles-section {
  border: 1px solid var(--cs-border-color);
  border-radius: 12px;
  padding: 16px;

  .cs-icon-opportunity {
    font-size: 24px;
  }
}

.product-items-tile {
  background: #fff;
  padding: 1.5rem 1rem;
  border-radius: 4px;
}

.product-items-details {
  width: 100%;
}

.product-items-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 0.75rem;
  border-radius: 4px;

  .product-image {
    width: 90px;

    img {
      height: 52px;
    }
  }
}

.product-item-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .text-input {
    height: 30px;
    width: 48px;
    text-align: center;
  }
}

.product-item-desc {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px dashed #d6d6d6;
}

.product-addon-desc {
  width: 53%;
}

.product-addon-qty {
  width: 13%;
  text-align: center;
}

.product-addon-price {
  width: 24%;
  text-align: right;
}

.product-modal {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #606162;
}

.product-item-services {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      &:last-child {
        border-bottom: 0;
        padding-bottom: 0;
        margin-bottom: 0;
      }

      img {
        width: 32px;
      }
    }
  }
}

.empty-cart {
  background: #fff;
  padding: 60px 1.25rem 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 4px;

  img {
    padding-bottom: 3.375rem;
  }

  h3 {
    padding-bottom: 0.5rem;
  }

  p {
    padding-bottom: 16px;
  }
}

.order-summary-secion {
  width: 38%;
}

.cart-item {
  width: 60%;

  .detail-list-icon {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
    color: var(--cs-white-color);
    background-color: var(--cs-link-color);

    &.default-state {
      background-color: var(--cs-body-color);
    }
  }
}

.order-summary {
  background: #fff;
  padding: 1.5rem;
  border-radius: 4px;
  width: 100%;
}

.product-img {
  border: 3px solid #fff;
  box-shadow: 0px 0px 4px 0px #0000001a;
  border-radius: 8px;
  background-color: #ebebeb;
  width: 86px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
  }
}

.product-info {
  border-top: 5px solid transparent;

  h6 {
    padding-bottom: 6px;
  }

  p {
    padding-bottom: 6px;
  }
}

.checkout-form {
  background: #fff;
  padding: 1.5rem;
  margin-bottom: 12px;
}

.checkout-details {
  padding-top: 1.875rem;
}

.drawer_w_1070 {
  max-width: 1070px;

  .drawer-content-column {
    display: flex;
    gap: 6px;
    flex-direction: column;

    .details-column {
      display: flex;
      gap: 16px;

      .details-column-item {
        width: 50%;

        .column-title {
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
          color: #1b1c1d;
        }
      }
    }
  }
}

.table-grid {
  width: 100%;
  border-collapse: collapse;

  tr {
    &:nth-child(even) {
      background-color: #f4f5f6;
    }
  }

  th {
    border-top: 2px solid var(--cs-border-color);
    padding: 10px 14px;
    border-bottom: 2px solid var(--cs-border-color);
    text-align: left;
  }

  td {
    border-top: 1px solid var(--cs-border-color);
    padding: 10px 14px;
    border-bottom: 1px solid var(--cs-border-color);
    text-align: left;
  }

  td {
    vertical-align: top;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #606162;
  }

  .child-checkbox {
    margin-right: 0.5rem;
    position: relative;
    top: 2px;
  }

  .cs-icon-expand {
    cursor: pointer;
  }
}

// Modal Css Start
.uk-modal {
  &.uk-open {
    display: flex !important;
    align-items: center;
  }

  .uk-modal-dialog {
    width: 100%;
    max-width: 480px;
  }

  .uk-modal-header {
    padding: 16px 24px;
    background-color: #f0f7fc;
    border-bottom: 1px solid #ddd;

    &.modal-header-transparent {
      border: none;
      background-color: transparent;
      padding-bottom: 0;
    }

    h4 {
      font-size: 20px;
      font-weight: 700;
      margin: 0;
      padding: 0;
      color: var(--cs-body-color);
    }

    .uk-btn-close {
      border: none;
      background-color: transparent;
      cursor: pointer;
      background-image: url("data:image/svg+xml,%0A%3Csvg width='15px' height='16px' viewBox='0 0 15 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='2.-Menu' transform='translate(-15.000000, -13.000000)' stroke='%23000000'%3E%3Cg id='Group' transform='translate(15.000000, 13.521000)'%3E%3Cpath d='M0,0.479000129 L15,14.2971819' id='Path-3'%3E%3C/path%3E%3Cpath d='M0,14.7761821 L15,-1.24344979e-14' id='Path-3'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: 14px;
      width: 15px;
      height: 15px;
      flex-shrink: 0;
      margin-left: 1rem;
      position: absolute;
      top: 35px;
      right: 37px;

      &.inner-btn-close {
        background-size: 12px;
        right: 22px;
        top: 22px;
      }
    }
  }

  .uk-modal-body {
    padding: 14px 24px;

    .help-text {
      font-size: 12px;
      color: var(--cs-label-color);
      padding-top: 5px;
    }
  }

  .uk-modal-footer {
    padding: 0px 24px 24px;
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
  }
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none"><path d="M9.00005 14.0126L1.9463 6.27263C1.73818 6.042 1.75505 5.68763 1.98568 5.4795C2.2163 5.27138 2.57068 5.28825 2.7788 5.51888L9.00005 12.342L15.2213 5.51888C15.4294 5.28825 15.7894 5.27138 16.0144 5.4795C16.245 5.68763 16.2619 6.042 16.0538 6.27263L9.00005 14.007V14.0126Z" fill="%23606162"/></svg>')
    no-repeat right 10px center;
  background-size: 16px;
  color: var(--cs-body-color);
  padding: 10px 16px;
  border: 1px solid var(--cs-border-color);
  width: 100%;
  border-radius: 4px;
  height: 40px;
  font-size: 14px;
  background-color: #fff;
}

.lookup-country-data {
  display: flex;
  gap: 24px;
  background: #f4f5f6;
  padding: 28px 24px 10px;
  border-radius: 4px;
  margin: 16px 0 21px;

  .country-field,
  .search-field {
    max-width: 450px;
    width: 100%;

    p {
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      color: #1b1c1d;
    }

    span {
      color: #606162;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      margin-bottom: 16px;
      display: block;
    }
  }

  .content-divider {
    position: relative;
    display: flex;
    align-items: center;

    &::before {
      content: "";
      position: absolute;
      width: 1px;
      height: 100%;
      background-color: #d6d6d6;
      left: 50%;
      transform: translateX(-50%);
      top: 0;
    }

    span {
      display: block;
      background-color: #f4f5f6;
      z-index: 1;
      padding: 5px 0px;
      font-size: 12px;
      font-weight: 500;
      line-height: 16px;
      letter-spacing: 0.2px;
      color: #606162;
    }
  }
}

.min-content-box {
  max-width: 150px;
  width: 100%;
}

.content-box {
  max-width: 450px;
  width: 100%;
}

.serial-tile {
  border: 1px solid var(--cs-border-color);
  padding: 1rem;
  margin-bottom: 12px;
  border-radius: 4px;
}

.order-summary input[type="checkbox"] {
  border-radius: 0.25em;
  width: 16px;
  height: 16px;
  background-color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  -webkit-print-color-adjust: exact;
  border: 1px solid #d6d6d6;
}

.order-summary input[type="checkbox"]:checked {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="%23ffffff" d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg>');
  background-color: #0070d2;
  border-color: #0070d2;
}

.vr {
  min-height: 1.8em;
  background-color: var(--cs-bg-disable-btn);
  opacity: 1;
}

.alert {
  color: var(--cs-body-color);

  &.alert-warning {
    background-color: #fef7ec;
  }
}

.badge {
  &.text-bg-warning {
    background-color: #c6800f !important;
    color: #fff !important;
  }
}

.text-primary {
  color: var(--cs-link-color) !important;
}
